.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

#display {
  grid-column: 1 / span 4;
  height: 50px;
  font-size: 20px;
  text-align: right;
}

.buttons {
  grid-column: 1 / span 3;
}

.operator {
  grid-column: 4;
}
